@import url(./global.css);

body {
  background-color: #EDEDEC;
}

.main-content {
margin-left: 250px;
padding: 1em;
}
.pick-nutrient{
  display: flex;
  flex-wrap: wrap;
}

.chart-container, .value-time  {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 8px;

}
.sensor-specs{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 20px;;
    border-radius: 8px;
}
.trends-insights{
    padding-left: 20px;
}
.trends, .insights{
    height: 450px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 8px;
}
.trends{
    height: 520px;
}
.title{
    padding-top: 5px;
}
.table{
    margin-bottom: 20px;
}
/* Highcharts specific styling */
.highcharts-figure, .highcharts-data-table table {
min-width: 320px;
max-width: 660px;
margin: 1em auto;
}
.bed-title{
color: red;
}
.values, .valuee{
    color:green;
}

.chart-container {
    margin-bottom: 0;
    padding-left: 5px;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 100%;
    max-width: 100%;
}

@media (max-width: 1170px) {
    .main-content {
        margin-left: 0; 
    }
    .sidebar {
      width: auto;
    }
    .trends-insights{
       padding: 10px;
       display: inline-block;
       flex-wrap: nowrap;
    }
    .trends{
        max-width: 500px;
    }
}
    /* Additional styles for buttons */
    .pick-nutrient .btn-check:checked + .btn{
        background-color: #111 !important; /* Use !important to override Bootstrap styles */
        border-color: forestgreen !important; /* Use !important to override Bootstrap styles */
        color: #0fc041 !important; /* Use !important to override Bootstrap styles */
    }
    .btn-outline-primary:hover{
        background-color: gold;
    }
    .btn-group label {
        border-color: forestgreen; /* Set border color for all buttons */
        color: forestgreen; /* Set text color for all buttons */
        background-color: white;
    }