
   
    @import url(./css/global.css);

        :root {
            --primary-color: #f90a39;
            --text-color: #1d1d1d;
            --bg-color: #f1f1fb;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }

        body {
         
            justify-content: center;
            
            min-height: 100vh;
        }


        .udarbe,
        .agbayani {
            width: 100%;
            max-width: 700px;
            padding: 30px 20px;
            border-radius: 10px;
            background-color: var(--bg-color);
            margin-bottom: 20px;
          
            justify-content: center;
        }

        .header,
        .header2 {
     
            justify-content: space-between;
         
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid #ccc;
        }

        .month,
        .month2 {
            display: flex;
            align-items: center;
            font-size: 25px;
            font-weight: 600;
            color: var(--text-color);
        }
     
        
     




        .btns,
        .btns2 {
            display: flex;
            gap: 10px;
        }

         .btn,
        .btn2 {
            width: 50px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            color: #fff;
            background-color: var(--primary-color);
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s;
        }

        .btn:hover,
        .btn2:hover {
            background-color: #db0933;
            transform: scale(1.05);
        }

        .weekdays,
        .weekdays2 {
            display: flex;
            gap: 10px;
        }

        .day,
        .day2 {
            width: calc(100% / 7 - 10px);
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }

        .days,
        .days2 {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .days .day,
        .days2 .day2 {
            width: calc(100% / 7 - 10px);
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 16px;
            font-weight: 400;
            color: var(--text-color);
            background-color: #fff;
            transition: all 0.3s;
        }

        .days .day:not(.next):not(.prev):hover,
        .days2 .day2:not(.next2):not(.prev2):hover {
            color: #fff;
            background-color: var(--primary-color);
            transform: scale(1.05);
        }

        .days .day.today,
        .days2 .day2.today2 {
            color: #fff;
            background-color: var(--primary-color);
        }

        .days .day.next,
        .days .day.prev,
        .days2 .day2.next2,
        .days2 .day2.prev2 {
            color: #ccc;
        }

        .margin-top-custom {
            margin-top: 20px;
        }
        .legend .legends{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 2px solid #ccc;
        }
        
        .legend-container{
            display: flex;
            align-items: center;
            justify-content: center;    

        }
        .legend-color {
            width: 40px;
            height: 40px;
            /* display: inline-block; */
            margin-right: 10px;
        }
        .legend-label{
            font-size: 20px;
            font-weight: 600;            
        }
        .threshold-item{
            display: flex;
            align-items: flex-center;
            padding: 10px;
            font-size: 16px;
            font-weight: 600;
        }




    .thresholds-item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
   
    .main-content {
    margin-left: 250px; /* Same as the width of your sidebar */
    padding: 1em;
}
.taguro {
    margin-top: -40px;
    margin-left: 500px;
}
.eugine {
    margin-top: -40px;
    margin-left: 500px;
}
.margin-bottom-corn {
        margin-bottom: 20px; /* Adjust the value as needed */
    }


    @media (max-width: 768px) {
        .main-content {
            margin-left: 0; 
        }
        .sidebar {
          width: auto;
        }
    }
    @media screen and (min-width: 768px) {
        .welcome-column {
            display: none;
        }
    }